<div [@fadeInAnimation]>
  <div class="head">
    <div class="heading">Cart</div>
    <div class="controls" *ngIf="productsService.products.length">
      <div class="total">
        <div class="title">Total:</div>
        <div class="summ">{{total | number:'1.2-2' | currency:'USD'}}</div>
      </div>
      <button type="button" class="buy" (click)="setHistory()">buy</button>
    </div>
  </div>
  <div class="list" *ngIf="productsService.products.length">
    <app-thumb *ngFor="let product of productsService.products" [product]="product" (removeFromToCart)="removeFromToCart($event)"></app-thumb>
  </div>
  <div class="list" *ngIf="!productsService.products.length">Cart is empty</div>
</div>