@import '../../../../scss/extends.scss';
@import '../../../../scss/mixins.scss';
@import '../../../../scss/variables.scss';

.list {
  width: 100%;
}
:host {
  width: 100%;
}
.item {
  width: 100%;
  @include flex(row, nowrap, flex-start, flex-start);
  border-bottom: 1px dashed #ebedf2;
  padding: 20px 0;
}
.id {
  flex: 0 0 100px;
  padding: 0 20px;
  @include font(false, $middle_gray_text, false, false, false);
}
.date {
  flex: 0 0 200px;
  @include font(false, $middle_gray_text, false, false, false);
}
.time {
  flex: 0 0 200px;
  @include font(false, $middle_gray_text, false, false, false);
}
.section {
  flex: 1 1 auto;
}
.product {
  @include flex(row, nowrap, flex-start, center);
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.title {
  flex: 0 0 250px;
  @include font(false, $middle_gray_text, false, false, 500);
  margin-right: 30px;
  &::first-letter {
    text-transform: uppercase;
  }
}
.price {
  @include font(false, $middle_gray_text, false, false, 500);
}
.total {
  flex: 0 0 200px;
  @include font(18, $purple, false, false, 500);
}
