@import '../../../scss/extends.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

:host {
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-of-type(5n + 5) {
    margin-right: 0;
  }
}
.thumb {
  width: 240px;
  border: 1px solid $gray_border;
}
.image {
  width: 100%;
  height: 170px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.description {
  padding: 20px 15px;
  @include flex(column, nowrap, space-between, flex-start);
  min-height: 142px;
}
.block {
  width: 100%;
  margin-bottom: 15px;
}
.title {
  @include font(18, false, false, false, 500);
  margin-bottom: 6px;
  &::first-letter {
    text-transform: uppercase;
  }
}
.label {
  @include font(14, $middle_gray_text, false, false, false);
  display: inline-block;
  margin-right: 5px;
}
.section {
  width: 100%;
  @include flex(row, nowrap, space-between, center);
}
.price {
  @include font(false, false, false, false, 500);
}
.buy {
  @extend %button;
}
.remove {
  @extend %button;
  background-color: #f4516c;
  @include desktop-hover() {
    background-color: darken(#f4516c, 10%);
  }
}
