@import '../../../scss/extends.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.content {
  @extend %coverer;
  background-color: rgba(#fff, 0.9);
  z-index: 10;
}
.spinner {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  border: 2px solid #007dff;
  border-right-color: rgba(#fff, 0);
  animation: rotator 0.8s linear infinite;
}
@keyframes rotator {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
