@import '../../../scss/extends.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.head {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid $gray_border;
  @include flex(row, wrap, space-between, center);
}
.heading {
  font-size: 18px;
  font-weight: 500;
}
.list {
  padding: 30px;
  @include flex(row, wrap, flex-start, stretch);
}
.controls {
  @include flex(row, wrap, flex-end, center);
}
.total {
  @include flex(row, wrap, flex-end, center);
  margin-right: 30px;
}
.title {
  @include font(14, $middle_gray_text, false, false, false);
  margin-right: 10px;
}
.summ {
  @include font(18, false, false, false, 500);
}
.buy {
  @extend %button;
  font-size: 12px;
}
