<div class="thumb" *ngIf="product" [@fadeInAnimation]>
  <div class="image">
    <img *ngIf="product.image" src={{product.image}} alt={{product.name}}>
    <img *ngIf="!product.image" src="assets/noimage.svg" alt={{product.name}}>
  </div>
  <div class="description">
    <div class="block">
      <div class="title">{{product.name}}</div>
      <div class="subtitle">
        <div class="label" *ngFor="let label of product.ingredients; let i = index">
          {{label}}{{i === product.ingredients.length - 1 ? '' : ', '}}
        </div>
      </div>
    </div>
    <div class="section">
      <div class="price">{{product.price | number:'1.2-2' | currency:'USD'}}</div>
      <button class="buy" *ngIf="!product.selected" (click)="chooseProduct(product)">Add to cart</button>
      <button class="remove" *ngIf="product.selected" (click)="removeProduct(product)">Remove</button>
    </div>
  </div>
</div>