@import '../scss/extends.scss';
@import '../scss/mixins.scss';
@import '../scss/variables.scss';

.wrapper {
  @extend %container;
}
.content {
  width: 100%;
  min-height: 300px;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #fff;
  position: relative;
}
