@import '../../../scss/extends.scss';
@import '../../../scss/mixins.scss';

.content {
  @include flex(column, nowrap, center, center);
  height: 300px;
}
h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
a {
  @extend %button;
  font-size: 12px;
}
