<div class="header">
  <div class="container">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/']">Main</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/cart']">Cart
          <div class="push" [@fadeInAnimation] *ngIf="productsService.products.length">{{productsService.products.length}}</div>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/history']">History</a>
      </li>
    </ul>
  </div>
</div>