@import '../../../scss/extends.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  margin-bottom: 60px;
}
.container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  @extend %container;
  @include flex(row, wrap, flex-start, center);
}
ul {
  @extend %clear_list;
  @include flex(row, wrap, flex-start, center);
  margin-left: -10px;
  li {
    margin-right: 20px;
    &.active {
      a {
        color: $purple;
      }
    }
  }
  a {
    @include font(false, $middle_gray_text, false, false, 500);
    @include flex(row, wrap, center, center);
    height: 70px;
    padding: 0 10px;
    position: relative;
    transition: color 0.14s ease-in-out;
    @include desktop-hover() {
      color: $purple;
    }
  }
  .push {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $purple;
    @include flex(row, wrap, center, center);
    @include font(8, #fff, false, false, false);
    position: absolute;
    top: 18px;
    right: -10px;
  }
}
