@import '../../../scss/extends.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.head {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid $gray_border;
  @include flex(row, wrap, space-between, center);
}
.heading {
  font-size: 18px;
  font-weight: 500;
}
.controls {
  @include flex(row, wrap, flex-end, center);
}
.sort {
  @include flex(row, wrap, flex-end, center);
  margin-right: 20px;
}
.title {
  @include font(false, false, false, false, 500);
  margin-right: 20px;
}
.section {
  @include flex(row, wrap, flex-end, center);
}
.label {
  @include flex(row, wrap, flex-end, center);
  margin-right: 20px;
  cursor: pointer;
  @include desktop-hover() {
    .value {
      color: $purple;
    }
  }
  &.active {
    .icon {
      background-color: $purple;
      border-color: $purple;
    }
    .value {
      color: $purple;
    }
  }
}
.icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid $gray_border;
  border-radius: $border_radius;
  transition: all 0.14s ease-in-out;
}
.value {
  @include font(14, $middle_gray_text, false, false, 300);
  transition: color 0.14s ease-in-out;
}
.list {
  padding: 30px;
  @include flex(row, wrap, flex-start, stretch);
}
.row {
  width: 100%;
  @include flex(row, nowrap, flex-start, flex-start);
  padding: 20px 0;
  background-color: #f4f3f8;
}
.col {
  @include font(12, false, false, false, 700);
  text-transform: uppercase;
  &:nth-of-type(1) {
    flex: 0 0 100px;
    padding: 0 20px;
  }
  &:nth-of-type(2) {
    flex: 0 0 200px;
  }
  &:nth-of-type(3) {
    flex: 0 0 200px;
  }
  &:nth-of-type(4) {
    flex: 0 0 250px;
    margin-right: 30px;
  }
  &:nth-of-type(5) {
    flex: 1 1 auto;
  }
  &:nth-of-type(6) {
    flex: 0 0 200px;
  }
}
