<div [@fadeInAnimation]>
  <div class="head">
    <div class="heading">History</div>
    <div class="controls" *ngIf="histories">
      <div class="sort">
        <div class="title">Sort by:</div>
        <div class="section">
          <div class="label" data-sorting-type="date" data-sorting-value="low" (click)="sortingProducts($event)" [ngClass]="{'active': sortingValue === 'low'}">
            <div class="icon"></div>
            <div class="value">from low date</div>
          </div>
          <div class="label" data-sorting-type="date" data-sorting-value="high" (click)="sortingProducts($event)" [ngClass]="{'active': sortingValue === 'high'}">
            <div class="icon"></div>
            <div class="value">from high date</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-loader *ngIf="!loading"></app-loader> -->
  <div class="list" *ngIf="loading && histories">
    <div class="row">
      <div class="col">id</div>
      <div class="col">date</div>
      <div class="col">time</div>
      <div class="col">name</div>
      <div class="col">price</div>
      <div class="col">total</div>
    </div>
    <app-item *ngFor=" let history of histories | sorting:sortingValue:sortingType " [history]="history"></app-item>
  </div>
  <div class="list " *ngIf="!histories">Order history is empty</div>
</div>