<div class="list" [@fadeInAnimation]>
  <div class="item" *ngIf="history">
    <div class="id">{{history.id}}</div>
    <div class="date">{{history.date | date: 'dd/MM/yyyy'}}</div>
    <div class="time">{{history.date | date: 'HH:mm'}}</div>
    <div class="section">
      <div class="product" *ngFor="let product of history.product">
        <div class="title">{{product.name}}</div>
        <div class="price">{{product.price | currency:'USD'}}</div>
      </div>
    </div>
    <div class="total">{{history.amount | currency:'USD'}}</div>
  </div>
</div>