@import 'mixins.scss';
@import 'variables.scss';

%clear_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
%container {
  padding: 0 30px;
}
%coverer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
%input {
  border: 1px solid #ced4da;
  padding: 0 10px;
  @include font(14, $middle_gray_text, false, false, false);
  border-radius: $border_radius;
  transition: border-color 0.14s ease-in-out;
  &:focus {
    border-color: $purple;
  }
  &::placeholder {
    @include font(14, $middle_gray_text, false, false, false);
    opacity: 0.6;
  }
}
%button {
  padding: 10px 20px;
  @include font(10, #fff, 0.04, false, 500);
  text-transform: uppercase;
  background-color: $purple;
  border-radius: $border_radius;
  box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.19);
  transition: all 0.14s ease-in-out;
  @include desktop-hover() {
    box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.36);
    background-color: $purple_hover;
  }
}
