.toast .toast-close-button {
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  outline: none !important;
  font-size: 0;
}
.toast .toast-close-button:before {
  content: '';
}
.toast .toast-close-button:before {
  font-size: 1.1rem;
}

.toast-success {
  background-color: #34bfa3;
  color: #fff;
  box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

#toast-container > div:hover {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3);
}

.toast-warning {
  background-color: #ffb822;
  color: #111111;
  box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

#toast-container > div:hover {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3);
}

.toast-info {
  background-color: #36a3f7;
  color: #fff;
  box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

#toast-container > div:hover {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3);
}

.toast-error {
  background-color: #f4516c;
  color: #fff;
  box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

#toast-container > div:hover {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3);
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: visible;
}
