html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  max-width: 2600px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #f2f3f8;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $dark_gray_text;
}
