@import '../../../scss/extends.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';

.head {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid $gray_border;
  @include flex(row, wrap, space-between, center);
}
.heading {
  font-size: 18px;
  font-weight: 500;
}
.controls {
  @include flex(row, wrap, flex-end, center);
}
.search {
  width: 250px;
  height: 35px;
  position: relative;
  input {
    @extend %coverer;
    @extend %input;
  }
}
.sort {
  @include flex(row, wrap, flex-end, center);
  margin-right: 20px;
}
.title {
  @include font(false, false, false, false, 500);
  margin-right: 20px;
}
.section {
  @include flex(row, wrap, flex-end, center);
}
.label {
  @include flex(row, wrap, flex-end, center);
  margin-right: 20px;
  cursor: pointer;
  @include desktop-hover() {
    .value {
      color: $purple;
    }
  }
  &.active {
    .icon {
      background-color: $purple;
      border-color: $purple;
    }
    .value {
      color: $purple;
    }
  }
}
.icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 1px solid $gray_border;
  border-radius: $border_radius;
  transition: all 0.14s ease-in-out;
}
.value {
  @include font(14, $middle_gray_text, false, false, 300);
  transition: color 0.14s ease-in-out;
}
.list {
  padding: 30px;
  @include flex(row, wrap, flex-start, stretch);
}
