<div [@fadeInAnimation]>
  <div class="head">
    <div class="heading">Products</div>
    <div class="controls">
      <div class="sort">
        <div class="title">Sort by:</div>
        <div class="section">
          <div class="label" data-sorting-type="price" data-sorting-value="low" (click)="sortingProducts($event)" [ngClass]="{'active': sortingValue === 'low'}">
            <div class="icon"></div>
            <div class="value">from low prices</div>
          </div>
          <div class="label" data-sorting-type="price" data-sorting-value="high" (click)="sortingProducts($event)" [ngClass]="{'active': sortingValue === 'high'}">
            <div class="icon"></div>
            <div class="value">from high prices</div>
          </div>
        </div>
      </div>
      <div class="search">
        <input [(ngModel)]="query" type="text" placeholder="Search">
      </div>
    </div>
  </div>
  <app-loader *ngIf="!loading"></app-loader>
  <div class="list" *ngIf="loading && products">
    <div *ngIf="(products | filter:query).length === 0">
      No matches
    </div>
    <app-thumb *ngFor="let product of products | filter:query | sorting:sortingValue:sortingType" [product]="product" (addToCart)="addToCart($event)"></app-thumb>
  </div>
</div>